<DOCTYPE html>
    <html lang="en" xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Winky的爱好">
        <meta name="author" content="Winky">
    
        <title>Winky的爱好</title>
    
        <link href="../static/css/style.css" rel="stylesheet">
        
      </head>
    
      <body>
    
      <section id="container" >
          <!--header-->
          <header class="black-bg">
                <div class="header_bar">
                    <img src="../static/images/bar.png" class="header_img">
                    <a href="../index.html" class="header_text"><span>Winky's Personal space</span></a>
                </div>
          </header>
    
        <!--main content-->
                    <div class="wrapper" id="container-1">
                        <div class="inner">
                            <div class="cont_1">
                                <div class="cont_1-b">
                                    <div class="cont_1-b-1">
                                        <!--sidebar-->
                                        <aside>
                                            <div id="sidebar">
                                                <!-- sidebar menu start-->
                                                <ul class="sidebar-menu">
                                                    <li class="sub">
                                                        <div class="bar_item">
                                                            <a href="./resume.html" >
                                                                <img src="../static/images/resume.png" class="subimg">
                                                                <span class="sub_span"><b>W planet</b></span>
                                                            </a>
                                                        </div>
                                                    </li>
    
                                                    <li class="sub">
                                                        <div class="bar_item">
                                                            <a href="./interest.html" >
                                                                <img src="../static/images/planet1.png" class="subimg">
                                                                <span class="sub_span"><b>W Interests</b></span>
                                                            </a>
                                                        </div>
    
                                                    <li class="sub">
                                                        <div class="bar_item">
                                                            <a href="./Oneday.html">
                                                                <img src="../static/images/planet2.png" class="subimg">
                                                                <span class="sub_span"><b>W Oneday</b></span>
                                                            </a>
                                                        </div>
                                                    </li>
    
                                                    <li class="sub">
                                                        <div class="bar_item">
                                                            <a href="./GNotes.html" >
                                                                <img src="../static/images/planet3.png" class="subimg">
                                                                <span class="sub_span"><b>W GNotes</b></span>
                                                            </a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </aside>
                                    </div>
                                    <div class="cont_1-b-2">
                                        <button class="returnbtn">
                                            <a href="./interest.html">
                                                <img src="../static/images/fanhui.png" alt="返回">
                                            </a>
                                        </button>
                                        <div class="table_container">
                                            <div>
                                                <strong class="title">神厨Winky</strong>
                                            </div>
                                            <div class="cook_list" >
                                                <div class="cook_item">
                                                    <div class="co_face">
                                                        <img src="../static/images/face.jpg" class="face_img">
                                                    </div>
                                                    <ul class="co_ul">
                                                        <li class="co_name"><strong >Winkyyy98</strong></li>
                                                        <li class="co_time">2020-05-27 10：07：26</li>
                                                        <li class="co_info">第一次包粽子，失败了好多个，妈妈包三个我才能搞出一个来，挑了三个还不错的展示一下，嘻嘻</li>
                                                        <li class="co_pic">
                                                            <img src="../static/images/zongzi.jpg" class="co_img">
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="cook_item">
                                                    <div class="co_face">
                                                        <img src="../static/images/face.jpg" class="face_img">
                                                    </div>
                                                    <ul class="co_ul">
                                                        <li class="co_name"><strong >Winkyyy98</strong></li>
                                                        <li class="co_time">2020-05-17 16：43：01</li>
                                                        <li class="co_info">看着红通通的色泽，是不是看着就很有食欲！泪水他总从嘴里流出来</li>
                                                        <li class="co_pic">
                                                            <img src="../static/images/Scray.jpg" class="co_img">
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="cook_item">
                                                    <div class="co_face">
                                                        <img src="../static/images/face.jpg" class="face_img">
                                                    </div>
                                                    <ul class="co_ul">
                                                        <li class="co_name"><strong >Winkyyy98</strong></li>
                                                        <li class="co_time">2020-02-19 11：32：29</li>
                                                        <li class="co_info">疫情期间闲来无事，本来准备招待客人的食材被我拿来练手了，嘻嘻，还是不错的！</li>
                                                        <li class="co_pic">
                                                            <img src="../static/images/Pbeef.jpg" class="co_img">
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="cook_item">
                                                    <div class="co_face">
                                                        <img src="../static/images/face.jpg" class="face_img">
                                                    </div>
                                                    <ul class="co_ul">
                                                        <li class="co_name"><strong >Winkyyy98</strong></li>
                                                        <li class="co_time">2020-01-07 15：57：32</li>
                                                        <li class="co_info">刚到家，想吃了好久的馄饨，妈妈说他教我，这样以后我想吃就能自己做来吃了，啦啦啦</li>
                                                        <li class="co_pic">
                                                            <img src="../static/images/wonton.jpg" class="co_img">
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="cook_item">
                                                    <div class="co_face">
                                                        <img src="../static/images/face.jpg" class="face_img">
                                                    </div>
                                                    <ul class="co_ul">
                                                        <li class="co_name"><strong >Winkyyy98</strong></li>
                                                        <li class="co_time">2019-05-13 15：57：32</li>
                                                        <li class="co_info">在饮食与文化课上自己做的青团，嘿嘿，还是很好的嘛，虽然有点贪心，加的糖有点多，过于甜蜜</li>
                                                        <li class="co_pic">
                                                            <img src="../static/images/qingtuan.jpg" class="co_img">
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="cook_item">
                                                    <div class="co_face">
                                                        <img src="../static/images/face.jpg" class="face_img">
                                                    </div>
                                                    <ul class="co_ul">
                                                        <li class="co_name"><strong >Winkyyy98</strong></li>
                                                        <li class="co_time">2019-02-07 20：03：22</li>
                                                        <li class="co_info">在寒冷的冬天，来一顿热腾腾的羊肉火锅是再好不过的了</li>
                                                        <li class="co_pic">
                                                            <img src="../static/images/hotpot.jpg" class="co_img">
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="cook_item">
                                                    <div class="co_face">
                                                        <img src="../static/images/face.jpg" class="face_img">
                                                    </div>
                                                    <ul class="co_ul">
                                                        <li class="co_name"><strong >Winkyyy98</strong></li>
                                                        <li class="co_time">2017-09-29 13：25：21</li>
                                                        <li class="co_info">看起来就特别好吃和健康的蒜蓉油麦菜（？）好吧，我也不知道是啥菜，就蒜蓉青菜叭！</li>
                                                        <li class="co_pic">
                                                            <img src="../static/images/Gvege.jpg" class="co_img">
                                                        </li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>

        <footer id="footer">
            <div class="container">
                <div class="row_item">
                    <div class="footer-info">
                        <p>我说今晚月光那么美</p>
                        <p>© Winky's Personal space</p>
                    </div>
                </div>
            </div>
        </footer>
        </body>
    </html>
    