<DOCTYPE html>
    <html lang="en" xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Winky的随笔">
        <meta name="author" content="Winky">
    
        <title>Winky的随笔</title>

        <link href="../static/css/style.css" rel="stylesheet">
        
      </head>
    
      <body>
    
      <section id="container" >
          <!--header-->
          <header class="black-bg">
                <div class="header_bar">
                    <img src="../static/images/bar.png" class="header_img">
                    <a href="../index.html" class="header_text"><span>Winky's Personal space</span></a>
                </div>
          </header>
    
        <!--main content-->
                    <div class="wrapper" id="container-1">
                        <div class="inner">
                            <div class="cont_1">
                                <div class="cont_1-b">
                                    <div class="cont_1-b-1">
                                        <!--sidebar-->
                                        <aside>
                                            <div id="sidebar">
                                                <!-- sidebar menu start-->
                                                <ul class="sidebar-menu">
                                                    <li class="sub">
                                                        <div class="bar_item">
                                                            <a href="./resume.html" >
                                                                <img src="../static/images/resume.png" class="subimg">
                                                                <span class="sub_span"><b>W planet</b></span>
                                                            </a>
                                                        </div>
                                                    </li>
    
                                                    <li class="sub">
                                                        <div class="bar_item">
                                                            <a href="./interest.html" >
                                                                <img src="../static/images/planet1.png" class="subimg">
                                                                <span class="sub_span"><b>W Interests</b></span>
                                                            </a>
                                                        </div>
    
                                                    <li class="sub">
                                                        <div class="bar_item">
                                                            <a href="./Oneday.html">
                                                                <img src="../static/images/planet2.png" class="subimg">
                                                                <span class="sub_span"><b>W Oneday</b></span>
                                                            </a>
                                                        </div>
                                                    </li>
    
                                                    <li class="sub">
                                                        <div class="bar_item">
                                                            <a href="./GNotes.html" >
                                                                <img src="../static/images/planet3.png" class="subimg">
                                                                <span class="sub_span"><b>W GNotes</b></span>
                                                            </a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </aside>
                                    </div>
                                    <div class="cont_1-b-2">
                                        <div class="table_container">
                                            <div>
                                                <strong class="title">Winky的笔尖</strong>
                                            </div>
                                            <div class="notes_list">
                                                <div class="notes_item1">
                                                    <div class="notes_text">
                                                        Me：我看你缺少社会主义毒打<br>
                                                        Lfy：我就想做一个资本主义毒瘤
                                                    </div> 
                                                </div> 
                                                <div class="notes_item2">
                                                    <div class="notes_text2">
                                                        Me:你喜欢hcy多久了啊<br>
                                                        Lfy:忘了，去年10月还是11月开始的来着<br>
                                                        Me:哎，你一点都不爱他<br>
                                                        Lfy:那你能说出你什么时候开始喜欢cxk？几月几号<br>
                                                        Me:我能说出lh的<br>
                                                        Lfy:渣女，你都换了新的狗来舔了，还惦记着舔你前男友
                                                    </div> 
                                                </div>
                                                <div class="notes_item3">
                                                    <div class="notes_text3">
                                                        人生八大幸事：大病初愈 <br>
                                                        久别重逢 失而复得 虚惊一场<br>
                                                        如约而至 不期而遇 不言而喻 <br>
                                                        未来可期
                                                    </div>
                                                </div>  
                                             </div>
                                             <div class="notes_list1">
                                                <div class="notes_item4">
                                                    <div class="notes_text">
                                                        没有河，没有高速，没有环岛，没有草坪，路也不是很宽，你只能遇见我
                                                    </div>
                                                </div> 
                                                <div class="notes_item2">
                                                    <div class="notes_text4">
                                                        我有一碗酒，碗酒赠吾兄<br>
                                                        吾兄留斟酌，斟酌话余生<br>
                                                        谁都道余生，哪有惧风雨<br>
                                                        唯愿风雨吉，处处皆是你<br>
                                                        &nbsp;&nbsp;&nbsp;——赠吾兄<br>
                                                    </div> 
                                                </div>
                                                <div class="notes_item5">
                                                    <div class="notes_text5">
                                                        &nbsp;&nbsp;&nbsp;&nbsp;你是我————<br>
                                                        &nbsp;&nbsp;&nbsp;&nbsp;明目张胆的偏爱，众所周知的私心
                                                    </div>
                                                </div>  
                                             </div>
                                             
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>

        <footer id="footer">
            <div class="container">
                <div class="row_item">
                    <div class="footer-info">
                        <p>我说今晚月光那么美</p>
                        <p>© Winky's Personal space</p>
                    </div>
                </div>
            </div>
        </footer>
        </body>
    </html>
    