<DOCTYPE html>
    <html lang="en" xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Winky的爱好">
        <meta name="author" content="Winky">
    
        <title>Winky的爱好</title>
        <link href="../static/css/style.css" rel="stylesheet">
        
      </head>
    
      <body>
    
      <section id="container" >
          <!--header-->
          <header class="black-bg">
                <div class="header_bar">    
                    <img src="../static/images/bar.png" class="header_img">
                    <a href="../index.html" class="header_text"><span>Winky's Personal space</span></a>
                </div>
          </header>
    
        <!--main content-->
                    <div class="wrapper" id="container-1">
                        <div class="inner">
                            <div class="cont_1">
                                <div class="cont_1-b">
                                    <div class="cont_1-b-1">
                                        <!--sidebar-->
                                        <aside>
                                            <div id="sidebar">
                                                <!-- sidebar menu start-->
                                                <ul class="sidebar-menu">
                                                    <li class="sub">
                                                        <div class="bar_item">
                                                            <a href="./resume.html" >
                                                                <img src="../static/images/resume.png" class="subimg">
                                                                <span class="sub_span"><b>W planet</b></span>
                                                            </a>
                                                        </div>
                                                    </li>
    
                                                    <li class="sub">
                                                        <div class="bar_item">
                                                            <a href="./interest.html" >
                                                                <img src="../static/images/planet1.png" class="subimg">
                                                                <span class="sub_span"><b>W Interests</b></span>
                                                            </a>
                                                        </div>
    
                                                    <li class="sub">
                                                        <div class="bar_item">
                                                            <a href="./Oneday.html" >
                                                                <img src="../static/images/planet2.png" class="subimg">
                                                                <span class="sub_span"><b>W Oneday</b></span>
                                                            </a>
                                                        </div>
                                                    </li>
    
                                                    <li class="sub">
                                                        <div class="bar_item">
                                                            <a href="./GNotes.html" >
                                                                <img src="../static/images/planet3.png" class="subimg">
                                                                <span class="sub_span"><b>W GNotes</b></span>
                                                            </a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </aside>
                                    </div>
                                    <div class="cont_1-b-2">
                                        <div class="table_container">
                                            <div class="rowdiv">
                                                <div>
                                                    <strong class="title">Winky's Interests</strong>
                                                </div>
                                                    <!-- SERVER STATUS PANELS -->
                                                     
                                                    <div class="indiv">
                                                        <a href="./Star.html">
                                                            <div>
                                                                <h4>追星</h4>
                                                              </div>
                                                              <div>
                                                                    <img src="../static/images/star.jpg" class="inimg">
                                                              </div>
                                                        </a> 
                                                      </div>
                                                    <div class="indiv">
                                                        <a href="./AxiangS.html">
                                                            <div>
                                                                <h4>相声</h4>
                                                            </div>
                                                            <div>
                                                                <img src="../static/images/crosstalk.jpg" class="inimg">
                                                            </div>
                                                        </a> 
                                                    </div>
                                                    <div class="indiv">
                                                        <a href="./travel.html">
                                                            <div>
                                                                <h4>旅游</h4>
                                                              </div>
                                                              <div>
                                                                    <img src="../static/images/travel.jpg" class="inimg">
                                                              </div>
                                                        </a>   
                                                    </div>
                                            </div>

                                            <div class="rowdiv">
                                                <!-- TWITTER PANEL -->

                                                <div class="indiv">
                                                    <a href="./EA.html">
                                                        <div>
                                                            <h4>欧美</h4>
                                                        </div>
                                                        <div>
                                                            <img src="../static/images/USdrama.jpg" class="inimg">
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="indiv">
                                                    <a href="./cook.html">
                                                        <div>
                                                            <h4>做饭</h4>
                                                        </div>
                                                        <div>
                                                            <img src="../static/images/cook.jpg" class="inimg">
                                                        </div>
                                                    </a>
                                                </div>
                                                
                                                <div class="indiv">
                                                    <a href="./money.html">
                                                        <div>
                                                            <h4>💰</h4>
                                                        </div>
                                                        <div>
                                                            <img src="../static/images/money.jpg" class="inimg">
                                                        </div>
                                                    </a>
                                                  </div>
                                                
                                            </div><!-- /rowdiv -->
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>

        <footer id="footer">
            <div class="container">
                <div class="row_item">
                    <div class="footer-info">
                        <p>我说今晚月光那么美</p>
                        <p>© Winky's Personal space</p>
                    </div>
                </div>
            </div>
        </footer>
        </body>
    </html>
    