<DOCTYPE html>
    <html lang="en" xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Winky的爱好">
        <meta name="author" content="Winky">
    
        <title>Winky的爱好</title>
    
        <link href="../static/css/style.css" rel="stylesheet">
        
      </head>
    
      <body>
    
      <section id="container" >
          <!--header-->
          <header class="black-bg">
                <div class="header_bar">
                    <img src="../static/images/bar.png" class="header_img">
                    <a href="../index.html" class="header_text"><span>Winky's Personal space</span></a>
                </div>
          </header>
    
        <!--main content-->
                    <div class="wrapper" id="container-1">
                        <div class="inner">
                            <div class="cont_1">
                                <div class="cont_1-b">
                                    <div class="cont_1-b-1">
                                        <!--sidebar-->
                                        <aside>
                                            <div id="sidebar">
                                                <!-- sidebar menu start-->
                                                <ul class="sidebar-menu">
                                                    <li class="sub">
                                                        <div class="bar_item">
                                                            <a href="./resume.html" >
                                                                <img src="../static/images/resume.png" class="subimg">
                                                                <span class="sub_span"><b>W planet</b></span>
                                                            </a>
                                                        </div>
                                                    </li>
    
                                                    <li class="sub">
                                                        <div class="bar_item">
                                                            <a href="./interest.html" >
                                                                <img src="../static/images/planet1.png" class="subimg">
                                                                <span class="sub_span"><b>W Interests</b></span>
                                                            </a>
                                                        </div>
    
                                                    <li class="sub">
                                                        <div class="bar_item">
                                                            <a href="./Oneday.html">
                                                                <img src="../static/images/planet2.png" class="subimg">
                                                                <span class="sub_span"><b>W Oneday</b></span>
                                                            </a>
                                                        </div>
                                                    </li>
    
                                                    <li class="sub">
                                                        <div class="bar_item">
                                                            <a href="./GNotes.html" >
                                                                <img src="../static/images/planet3.png" class="subimg">
                                                                <span class="sub_span"><b>W GNotes</b></span>
                                                            </a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </aside>
                                    </div>
                                    <div class="cont_1-b-2">
                                        <button class="returnbtn">
                                            <a href="./interest.html">
                                                <img src="../static/images/fanhui.png" alt="返回">
                                            </a>
                                        </button>
                                        <div class="table_container">
                                            <div>
                                                <strong class="title">Winky的巨星</strong>
                                            </div>
                                            <div class="cook_list" >
                                                <div class="travel_item">
                                                    <div class="co_face">
                                                        <img src="../static/images/face.jpg" class="face_img">
                                                    </div>
                                                    <ul class="co_ul">
                                                        <li class="co_name"><strong >Winkyyy98</strong></li>
                                                        <li class="co_time">2018-04-06 23：03：51</li>
                                                        <li class="co_info" style="font-size: larger; height: 50; font-weight: 600; text-align: center;">"披金成王👑伴坤远航"</li>
                                                        <li class="co_info" style=" height: 40; font-weight: 500; text-align: right;">————KUN&IKUN</li>
                                                        <li class="co_info" style="margin-left: 20px;"> “花花世界，静守己心”
                                                            <br>“虽然很残酷但也是成长的过程”
                                                            <br>“那些未曾谋面的也终将会相遇”
                                                            <br>“做自己喜欢的事就不会觉得辛苦”
                                                            <br>“做好准备的人，一定会得到一颗糖”
                                                            <br>“从今往后，我们只cosplay我们自己”
                                                            <br>“你现在所经历的磨难，未来都会成为你的下酒菜”
                                                            <br>“我们现在正在走的这条路，总是从求而不得开始的”
                                                            <br>“喜欢就不会觉得辛苦，只要还在跑，多远都可以到达”
                                                            <br>“因为孤独是生命的常态，所以陪伴才会显得格外珍贵”
                                                            <br>“没有什么无缘无故的幸运，命运早已对此标价，你要敢于去付出代价”
                                                            <br><br></li>
                                                        <li class="star_pic">
                                                            <img src="../static/images/kun.jpg" class="star_img">
                                                        </li>
                                                        <li style="text-align: center; color: rgb(129, 121, 121); font-size: 0.5em;">图 蔡徐坤绝版舞台《梦》</li>
                                                        <li class="co_info" style=" height: 40; font-weight: 500; margin-left: 20px;">
                                                            "能够坚持他的热爱的人,他一定会有无限的可能"<br><br>
                                                        </li> 
                                                    </ul>
                                                </div>
                                                <div class="travel_item">
                                                    <div class="co_face">
                                                        <img src="../static/images/face.jpg" class="face_img">
                                                    </div>
                                                    <ul class="co_ul">
                                                        <li class="co_name"><strong >Winkyyy98</strong></li>
                                                        <li class="co_time">2013-08-20 18：53：26</li>
                                                        <li class="co_info" style="font-size: larger; height: 50; font-weight: 600; text-align: center;">"唯愿风雨吉，处处皆是你"</li>
                                                        <li class="co_info" style=" height: 40; font-weight: 500; text-align: right;">————龄龙少年，未来可期❤</li>
                                                        <li class="co_info" style="margin-left: 20px;"> “楠楠”
                                                            <br>“老大”
                                                            <br>“别卖萌”
                                                            <br>“我是他迷弟”
                                                            <br>“我逗小黑小子”
                                                            <br>“师哥的愿望就是我的愿望”
                                                            <br>“我比你大两岁，要毁就毁我”
                                                            <br>“我混的再惨我能把你给卖了么”
                                                            <br>“咱俩要生儿子绝对黑白花大奶牛”
                                                            <br>“我不喜欢黑的，我也不喜欢比我高的”
                                                            <br>“除了给我打死，我们还会在一起搭档”<br><br></li>
                                                        <li class="star_pic">
                                                            <img src="../static/images/ll.jpg" class="star_img">
                                                        </li>
                                                        <li style="text-align: center; color: rgb(129, 121, 121); font-size: 0.5em;">图 张九龄王九龙杂志拍摄</li>
                                                        <li class="co_info"> &nbsp;&nbsp; &nbsp;&nbsp;
                                                        在一起合作了七年，在九龄创业失败最低迷的时候是大楠陪他走了出来，在大楠收到观众送的房卡的时候，九龄把房卡掰了，
                                                        说，我比他大，要毁就是先毁我。<br>&nbsp;&nbsp; &nbsp;&nbsp;
                                                        说实话，我最喜欢的就是好的相声演员在台上说相声的那个劲头儿，背贯儿的时候，打板儿的时候，比划身手的时候，铺垫叙事的时候，
                                                        一个包袱抖得满堂彩的时候，这些时候，我不夸张的说，我真的觉得他们的身上有光，光影中透出来的，是他们对自己的自信和肯定，对相声舞台的热爱，
                                                        对传统文化的坚持。台上的他们，是真正的意气风发少年郎。
                                                        </li>
                                                        <li class="star_pic">
                                                            <img src="../static/images/2020ll.jpg" class="star_img">
                                                        </li>
                                                        <li style="text-align: center; color: rgb(129, 121, 121); font-size: 0.5em;">图 2020龄龙唯一官方后援图</li>
                                                        <li class="co_info" style=" height: 40; font-weight: 500; ">&nbsp;&nbsp; &nbsp;&nbsp;
                                                            “小张和小王要一直一起打打闹闹说说笑笑好久好久”<br><br>
                                                            </li>
                                                    </ul>
                                                </div>
                                                <div class="travel_item">
                                                    <div class="co_face">
                                                        <img src="../static/images/face.jpg" class="face_img">
                                                    </div>
                                                    <ul class="co_ul">
                                                        <li class="co_name"><strong >Winkyyy98</strong></li>
                                                        <li class="co_time">2013-08-20 19：55：22</li>
                                                        <li class="co_info" style="font-size: larger; height: 50; font-weight: 600; text-align: center;">"此生有幸风雨同舟✨尽吾所能伴君前行"</li>
                                                        <li class="co_info" style=" height: 40; font-weight: 500; text-align: right;">————九辫儿岁岁长相见</li>
                                                        <li class="co_info" style="margin-left: 20px;">
                                                            "翔子"<br>
                                                            "辫儿"<br>
                                                            “我认哏” <br>
                                                            "生辰快乐，爱你如初"<br>
                                                            "我不需要朋友，除了杨九郎"<br>
                                                            "感恩一切让你回到我身边的力量"<br>
                                                            “我不是不会逗哏，我只想给你捧哏”<br>
                                                            "一个经历过生死，一个陪他经历过生死"<br>
                                                            “一般他不用说话，我就知道他要干什么”<br>
                                                            "你们都劝我说他出事跟我没关系，可是如果当时我在他身边就不会让他出事" <br>
                                                            "我觉得让你随时往左后方一回头一眼就准能看见我在桌子里头站着这事儿才是最酷的"<br><br>     
                                                        </li>
                                                        <li class="star_pic">
                                                            <img src="../static/images/9b.jpg" class="star_img">
                                                        </li>
                                                        <li style="text-align: center; color: rgb(129, 121, 121); font-size: 0.5em;">图 张云雷杨九郎相声《歪唱太平歌词》</li>
                                                        <li class="co_info" style=" height: 40; font-weight: 500; margin-left: 20px;">
                                                            “相思赋予谁,小辫儿张云雷”<br>
                                                            “人生那么长,想嫁杨九郎”<br><br>
                                                            </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    
        <footer id="footer">
            <div class="container">
                <div class="row_item">
                    <div class="footer-info">
                        <p>我说今晚月光那么美</p>
                        <p>© Winky's Personal space</p>
                    </div>
                </div>
            </div>
        </footer>
      </body>
    </html>
    